.reverse{
    flex-direction: row-reverse;
}

.red{
    color: red;
    text-transform: uppercase;
}
.blue{
    color: blue;
    text-transform: uppercase;
}
.borderRed{
    border: solid 1px red;
}
.borderBlue{
    border: solid 1px blue;
}
.backgroundR{
    background-color: red;
}
.backgroundB{
    background-color: blue;
}
.opac{
    opacity: 0.60;
}